.what-nikoosabt::before{
    content: '';
    background-color: silver;
    width: 3px;
    height: 100%;
    position: absolute;
    right: -15px;
}
.what-nikoosabt span{
    line-height: 60px;

}


.what-nikoosabt i{
    position: absolute;
    right: -25px;
    top: 10px;
    font-size: 23px;
    color: #0264c8;
}

.about-me-def ul li p i{
    content: "\f04b";
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 20px;
    right: -73px;
    bottom: 8px;
    position: relative;
    box-shadow: -1px 2px 6px #525252;
}

.about-me-def ul::before{
    content: '';
    position: absolute;
    background: var(--bs-gray-100);
    width: 4px;
    top: 0;
    bottom: 67px;
    right: 75px;
}
.about-me-def ul li{
    list-style: none;
}
.about-me-def .define{
    line-height: 52px;
}

