@font-face {
  font-family: "vazir";
  src: url("../font/vazir/Vazir.eot");
  src: url("../font/vazir/Vazir.eot") format("embedded-type"),
    url("../font/vazir/Vazir.ttf") format("truetype"),
    url("../font/vazir/Vazir.woff") format("woff"),
    url("../font/vazir/Vazir.woff2") format("woff2");
}

@font-face {
  font-family: "sahel";
  src: url("../font/sahel/Sahel-Bold.eot");
  src: url("../font/sahel/Sahel-Bold.eot") format("embedded-type"),
    url("../font/sahel/Sahel-Bold.ttf") format("truetype"),
    url("../font/sahel/Sahel-Bold.woff") format("woff"),
    url("../font/sahel/Sahel-Bold.woff2") format("woff2");

}

* {
  font-family: "vazir";
  padding: 0;
  margin: 0;
}


a{
  text-decoration: none;
}

.mygray{
  background-color: rgb(243, 243, 243);
}

.my-blue{
    color: #0253BC !important;
}

.my-green{
    color: #20B9AA;
}

.my-bg{
    background-color: #f7fdfd;
}

.my-bg-blue{
  background-color:  #E8F1FF;
}

.sahel{
    font-family: 'sahel' !important;
}

.icon{
  text-align: center;
  color: #0253BC;
  border-radius: 10px;
  padding: 1%;
}

.card-height{
  height: 100%;
}

.card-profile-img{
  width: 90px;
  height: 90px;
}

.my-bg-card{
  background-color: #f7fdfd;
}

.my-t-color{
  color: #022553;
}

.my-footer-color{
 background-color: #F7FAFD;
}

.messenger{
  color: #4d4d4d;
  
}

.messenger:hover{
  color: #0253BC;
}

/*@media (min-width: 40px) {
  .justifuy{
    text-align: justify;
  }
}*/


.justifuy{
  text-align: justify;
}

.t-red{
  color: red;
}