@font-face {
  font-family: "vazir";
  src: url("../font/vazir/Vazir.eot");
  src: url("../font/vazir/Vazir.eot") format("embedded-type"),
    url("../font/vazir/Vazir.ttf") format("truetype"),
    url("../font/vazir/Vazir.woff") format("woff"),
    url("../font/vazir/Vazir.woff2") format("woff2");
}

@font-face {
  font-family: "sahel";
  src: url("../font/sahel/Sahel-Bold.eot");
  src: url("../font/sahel/Sahel-Bold.eot") format("embedded-type"),
    url("../font/sahel/Sahel-Bold.ttf") format("truetype"),
    url("../font/sahel/Sahel-Bold.woff") format("woff"),
    url("../font/sahel/Sahel-Bold.woff2") format("woff2");

}

* {
  font-family: "vazir";
  padding: 0;
  margin: 0;
}


a{
  text-decoration: none;
}

.mygray{
  background-color: rgb(243, 243, 243);
}

.my-blue{
    color: #0253BC !important;
}

.my-green{
    color: #20B9AA;
}

.my-bg{
   background-color: #f7fdfd;
   /*background-color: rgb(0, 152, 175);*/

}

.my-bg-blue{
  background-color:  #E8F1FF;
}

.sahel{
    font-family: 'sahel' !important;
}

.icon{
  text-align: center;
  color: #0253BC;
  border-radius: 10px;
  padding: 1%;
}

.card-height{
  height: 100%;
}

.card-profile-img{
  width: 90px;
  height: 90px;
}

.my-bg-card{
  background-color: #f7fdfd;
}

.my-t-color{
  color: #022553;
}

.my-footer-color{
 background-color: #023263!important;
}

.messenger{
  color: #4d4d4d;
  
}

.messenger:hover{
  color: #0253BC;
}

/*@media (min-width: 40px) {
  .justifuy{
    text-align: justify;
  }
}*/


.justifuy{
  text-align: justify;
}

.t-red{
  color: red;
  
}

.slid{
  /* background-image: url(../img/5.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100%;
  height: 500px;
  filter: blur(3px);


}

.btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
  box-shadow: none;
}
.btn-check:checked + .btn-outline-warning:focus, .btn-check:active + .btn-outline-warning:focus, .btn-outline-warning:active:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus {
  box-shadow: none;
}
.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;

}


.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #000000;
  outline: 0;
   box-shadow: none;
}

.img-filter{
  height: 530px;
}


.myblue{
  color: #0b3469;
}

.myyellow{
  color: yellow;
  
}


.btn-tamdid{
  color: #000;
    background-color: #20b9aa;
    border-color: #20b9aa;
}

.btn-outline-warning {
  color: #070707;
  border-color: #20b9aa;
  transition: .3s ease;
}




.btn-outline-warning:hover{
  color: #000;
  background-color: #20b9aa;
  border-color: #20b9aa;

}








                      /* footer */

footer , .footer-end , .top-header{ 
  background-color: #0264c8;                      
}
.border-right-footer{
  border-right: 1px solid #efefef;
  padding-right: 20px;
}
          .namad{
            width: 123px;
    height: 110px;
          }            
          .footer-end{
            border-top: 1px solid #efefef;
          }
.footer-style h5 , .footer-style a{
  font-size: .9rem;
}

.footer-style .time-we{
  line-height: 20px;
}
.footer-style a{
transition: .3s ease!important;


}
.footer-style a:hover{
color: rgb(175, 175, 175)!important;
padding-right: 4px!important;
}

a .fa-instagram:hover{
color: red;
}
a .fa-whatsapp:hover{
  color: rgb(10, 142, 36);
  }
a .fa-telegram:hover{
  color: rgb(194, 218, 251);
  }
  a .fa-envelope-open:hover{
    color: rgb(133, 133, 133);
    }





           /* khabarname */

           .khabarname{
            position: relative;
            top: 94px;
            border-radius: 10px;
           }
           .khabarname form{
         width: 55%;
           }




           /*     moshavereh    */

           .moshavereh p ,.define-niko p{
       line-height: 52px;
           }
        .company{
      
          height: 500px;
        }
     
.link-moshavereh{
  color: #20B9AA;
}
.link-moshavereh:hover{
  color: #20B9AA!important;
}


        /*      baner       */


        .baner{
          max-width: 1295px;
    height: 500px;
    overflow: hidden;
transition: .3s ease;
  
        }
        .baner:hover{
          box-shadow:  5px -6px 8px 0px #858585;
        }

        
        .baner img{
          width: 100%;
          height: 500px;
       
        }






        /* Services-nikoosabt */
        .Services-nikoosabt p{
line-height:38px;
        }


        .card-body {
          flex: 1 1 auto;
          padding: 2rem 1rem;
        }


        /* scroll to top */
        #scrool-to-top {
          position: fixed;
          bottom: -60px;
          right: 20px;
          background-color: rgb(38, 38, 38);
          width: 50px;
          height: 50px;
          display: block;
          border-radius: 35px;
          transition: all .3s ease;
         
      }
      #scrool-to-top i{
color: #fff;
position: relative;
right: 18px;
top: 12px;
transition: all .3s linear;
      }
      #scrool-to-top:hover{
background-color: rgba(0, 0, 0, .7);
      }
      #scrool-to-top:hover i{
          top: 7px;
      }



                  /* tex-on-img */

.text-on-img{
  position: relative;

  top: -330px;
}
.text-on-img p{
line-height: 40px;
}


.top-header .define{
font-size: .9rem;
}
.top-header i{
  vertical-align: -21px;
  }
  .top-header .tel-me a:last-child{
    margin-right: 27px;
  }

              /* nav-hover */
  .navbar li a{
    color: rgb(90, 90, 90)!important;
    transition: .5s ease;
  }
  .navbar li a:hover{
    color: rgb(0, 0, 0)!important;
    transform: translateY(-5px);

  }



               /* top-header */

.top-header .tel-me a{
  transition: .3s ease;
}
.top-header .tel-me a:hover{
 color: #bfbfbf!important;
}








                    /* Services-nikoosabt */
.Services-nikoosabt .card{
  box-shadow: 2px 3px 6px 0px #858585;
  transition: .5s ease;
}

.Services-nikoosabt .card:hover{
  box-shadow: 2px 3px 6px 0px #323232;
  transform: translateY(-5px);

}






