@font-face {
  font-family: "vazir";
  src: url("../font/Vazir.eot");
  src: url("../font/Vazir.eot?#iefix") format("embedded-type"),
    url("../font/Vazir.ttf") format("truetype"),
    url("../font/Vazir.woff") format("woff"),
    url("../font/Vazir.woff2") format("woff2");

  font-family: "sahel";
  src: url("../font/sahel/Sahel-Bold.eot");
  src: url("../font/sahel/Sahel-Bold.eot") format("embedded-type"),
    url("../font/sahel/Sahel-Bold.ttf") format("truetype"),
    url("../font/sahel/Sahel-Bold.woff") format("woff"),
    url("../font/sahel/Sahel-Bold.woff2") format("woff2");

    
}

* {
  font-family: "vazir";
}

.my-blue{
    color: #0253BC !important;
}

.my-green{
    color: #20B9AA;
}

.my-bg{
    background-color: #F7FAFD;
}

.sahel{
    font-family: 'sahel' !important;
}

.icon{
  text-align: center;
  color: #0253BC;
  border-radius: 10px;
  padding: 1%;
}

.card-height{
  height: 100%;
}